/node_modules
/.env
/controller/sendGridController.js
/EmailContentThird.js 
1.png
2.png
22SEP.json
EmailContent.js
EmailContentSecond.js
EmailData.json
PropertyData.json
sendGridFile.js
SendImageEmail.js
